.logo-navbar {
    width: 150px;
}

.btn-register  {
    margin-left: 8px;
}

.btn-konsultasi  {
    margin-left: 20px;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.item-number {
    padding-right: 30px;
}

.child-number {
    padding-top: 4px;
    padding-right: 13px;
    background-color: #0d6efd;
    border-radius: 50%;
    padding-left: 13px;
    padding-bottom: 4px;
    color: white;
}

.item-container {
    display: flex;
}

.font-normal {
    font-size: 15px;
}